
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
   /*-----------------Table of Contents:-----------------*/
/*        1. Global Styles
          2. Reusables
          3. Typografie
          4.Header
          5.main
          5.1 Contact-Form  Contactformulier
          6. Footer
/*-------------------------------------------------*/
/* 1. Global Styles*/
/*-------------------------------------------------*/

/*---For the padding not to affect the width of the element-----*/
body *{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;


}

ul {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

a:link {
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: var(--blue);



}

li {
    font-family:  roboto, sans-serif;
}

li:hover {
    text-decoration-line: line-through;
}

/* --------------- 2-Reusables ----------------------- */

:root {


    --purple: #5722CD; /**Chrysler Blue*/
    --blue: #4845E8;  /**Majorelle Blue*/
    --pink: #ED4385;   /**French Rose*/
    --black: #0C0C0C; /* - Zwart - Night (voor standaard tekst)-*/
    --white: #f1f5f3; /*-- Magnolia (voor de grote zwevende woorden, zoals "hello" en "services")--*/
    --silver: #7A7A7A; /*(voor de service-tegel tekst)*/
    --light-silver:#F3f0FF /*HELLO, SERVISEC (BONOS)*/

}

/*--------------------------------*/
/*         3. Typografie           */
/*--------------------------------*/

h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: var(--white);
    text-align: center;
    font-family: Merriweather,sans-serif;
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: Merriweather,sans-serif;
}

h3 {

    font-weight: 700;
    padding: 1px;
    font-size: 18px;
    font-family: Merriweather,sans-serif;
}

h4 {
    color: var(--white);
    font-weight: 200;
    padding: 3px;
    font-size: 20px;
    font-style: normal;
    font-family: Merriweather,sans-serif;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    font-family: Merriweather,sans-serif;
}

h6 {
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    color: var(--silver);
    font-family: Merriweather,sans-serif;


}

p {
    color: var(--black);
    font-weight: 100;
    font-size: 10px;
    font-family: roboto, sans-serif;

}

a {
    color: var(--blue);
    font-weight: 300;
    font-size: 10px;
    font-family: roboto, sans-serif;

}





/*------------------ 4. HEADER ------------------------*/
/* Add a black background color to the top navigation */
/*-----------------------------------------------------*/
#header{
    background: var(--black) var(--blue) var(--purple);
    background: linear-gradient(120deg, var(--black) 0%, var(--blue) 0%, var(--purple) 80%);

}

.outer-nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.inner-nav {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 56%;
}

.nav-list {
    justify-content: end;
    gap: 30px;
}

.nav-list a {
    color: white;
}

/*------------------------------------*/
/*  TRIANGEL                  HEADER */
/*----------------------------------*/
.triangle_up {

    display: block;
    height: 0;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 40px 0 0 100vw;
    border-color: var(--purple) transparent transparent transparent;
    border-right-color:  var(--purple);
    border-left-color: var(--white);


}



.inner-content-container h1 {
    display: flex;
    text-align: center;
    justify-self: center;
    padding: 140px;


}

.inner-content-container h2 {
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    align-self: center;
    color: #f3f2f8;

}

.outer-content-container {
    display: flex;
    justify-content: center;
    align-self: center;
    color: var(--white);
    width: 100%;

}

.inner-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: var(--white);
    margin: auto;
    width: 100%;

}

/*--------------------------------*/
/*              SQUIGGLE      */
/*--------------------------------*/
.squiggle_line_stripe {
    display: flex;
    flex-basis: auto;
    position: relative;
    align-self: center;
    width: 100px;
    height: 100px;
    content: url("../assets/squiggle_line_stripe.svg");
    justify-content: end;
    margin-block-end: 10px;
    margin-block-start: 20px;
    top:  3rem; /*it push it down*/
}

.squiggle_line_stripe:hover {
    display: flex;
    position: relative;
    flex-basis: auto;
    align-self: center;
    width: 100px;
    height: 100px;
    content: url("../assets/noise-texture.png");
    justify-content: end;
    margin-block-end: 10px;
    margin-block-start: 20px;
    top:  3rem;

}
/*-----------------------------------------------*/
/*              5. MAIN                           */
/*-----------------------------------------------*/


/*-----------------------------------------------*/
/*              5.1 INTRO                          */
/*-----------------------------------------------*/


.intro {
    display: flex;
    background-color: var(--white);
    padding: 4rem;


}

.outer-content-intro {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-flow: column;
    background-color: var(--white);
    color: var(--purple);
    height: 60vh;
    width: 100%;

    align-self: center;
    justify-content: center;


}

.inner-content-intro {
    color: var(--purple);
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    padding-bottom: 40vh;
    flex-basis: auto;
    align-self: center;
    width: 420px;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;


}

.intro .item {
    display: flex;


}

.item-1 {

    display: flex;


}

.item-2 {

    display: flex;
    flex-basis: auto;
    text-align: center;

}

.item-3 {
    display: flex;
    flex-basis: auto;
    text-align: center;

}

.item4 {
    display: flex;
    flex-basis: auto;

}

/*----------------------------------------*/
/* 5.2  WORK    3 COLUMN   WITH 2 ROWS   */
/*---------------------------------------*/

.outer-article {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    width: 100%;
    justify-items: auto;
    padding: 20px;
    justify-content: center;gap: 30px;
}










.outer-article:nth-child(odd) .inner-article {
    flex-direction: row-reverse;

}

.inner-article {
    display: flex;
    flex-basis: 100%;
    gap: 50px;  //*was 2*//
    flex-wrap: revert;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: flex-start;
    align-self: center;
    align-content: space-around;
    font-family: Merriweather, sans-serif;


}

.work_text_block{
    display: flex;

    flex-basis: 300px;
    flex-direction: column ;
    align-content: baseline;
    align-self: center;
    padding: 80px;

}
.text {
    white-space: nowrap;
    padding-right: 15px;
}




.span  {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    justify-content: space-around ;
    box-sizing: content-box;
    align-items: flex-start;
    align-content: flex-start;
    image-resolution: from-image;
    box-shadow: 820px 822px 284px var(--pink), var(--black )0, 0, 0.3var(--blue);

}


.image-wrapper {
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 36px;
    box-sizing: content-box;


}

#work h5{
    font-family: Roboto, sans-serif;
}


.link-project{
    text-transform: uppercase;
    flex-basis: 220px;
    flex-direction: row;
}



 .squi-line {
    display: flex;
    width: 20%;
    color: var(--purple);

}

#work a {
    display: flex;
    flex-flow: row;
    position: absolute;
    font-stretch: semi-expanded;
    font-size: 14px;
    max-font-size: 14px;
    min-font-size: 6px;
}


.button-view-project {
    display: flex;
    background-color: var(--white);
    text-transform: uppercase;
    position: relative;
    flex-basis: 120px;
    /* Set your desired padding */
    border: none; /* Remove button border */
    cursor: context-menu;
}

.button-line {
    background-color: #099;
    color: white;
    text-decoration: none;
    border-radius: 60px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow:hidden;
    width: auto;
    max-width: 32px; /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

/*.button-line:hover {

    content: "→";
    display: inline-block;
}*/

.icon {
    font-family: Font Awesome 5 Free, sans-serif;
    font-size: 16px;
    margin-right: 15px;
    padding: 0 8px;
    display: flex;
    align-items: center;
}






/*-----------------------------------------------------*/
/*       5.5    6 FLEX BOXS WRAP ICON TITLE AND TEXT   */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*           SERVICES WRAPPER                           */
/*-----------------------------------------------------*/
.services_wrapper {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    justify-items: auto;

    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .1);
    color: var(--purple);
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;


}

/*-----------------------------------------------------*/
/*                      ICONS                          */
/*-----------------------------------------------------*/
.icon-text {
    display: flex;
    width: 60px;
    height: 60px;
    color: var(--purple);


}

/*-----------------------------------------------------*/
/*                WAT VAN SERVICES                               */
/*-----------------------------------------------------*/

.web_design
{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;


}

.web_development {

    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;

}

.user_experience {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

.logo_design {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;

}

.seo {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

.copy_writing {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}


/*--------------------------------*/
/*        5.4 Contact-Form        */
/*--------------------------------*/


.outer-cc-together {
    display: flex;
    flex-direction: column;
    /*for wierd browsers with out gradient*/
    background: var(--purple);
    /* ------4 the rest of the browsers-------------*/
    background: linear-gradient(130deg, var(--purple) 20%, var(--blue));
    padding: 4rem;
}


.inner-cc-together {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-content: center;

}

h1 {
    align-self: center;
    color: var(--white);
    display: flex;
    flex-direction: column;

}

h4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

}

form {
    width: 100%;
    display: flex;
    font-weight: 400;
    color: var(--white);
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 24px;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;

}


label {
    margin-top:18px;
    font-family: Roboto, sans-serif;

}

input, textarea {
    padding: 16px;
    border-radius: 10px;

}


.button-send {
    background-color: var(--pink);
    font-weight: 200;
    color: var(--white);
    width: 160px;
    height: 48px;
    margin: 18px;
    border-radius: 24px;
    border-color: #ED4385;
    border: 0;
    align-self: center;


}

.button-send:hover {
    font-weight: 200;
    width: 160px;
    height: 46px;
    margin: 18px;
    border-radius: 24px;
    align-self: center;
    background-color: var(--white);
    color: var(--black);
    text-decoration-color: var(--black);
}


/*--------------------------------*/
/*          6. Footer            */
/*--------------------------------*/

.outer-cc-footer {
    display: flex;
    width: 100%;

}

.inner-cc-footer {
    display: flex;
    justify-content: center;

    color: var(--white);
    background-color: var(--black);
    font-style: normal;
}

/*--------------------------------*/

/*     That's All Folks!         */
/*--------------------------------*/

/**
NOTE DIV CLASS ID
 */

/**
# = id
<div id="hello">
#hello {
}
. = class
<div class="hello">
.hello {
}
nothing = element
<div>
div {
}
combine:
div#hello.hello {
}
 */




