@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/*-----------------Table of Contents:-----------------*/
/*        1. Global Styles
          2. Reusables
          3. Typografie
          4.Header
          5.main
          5.1 Contact-Form  Contactformulier
          6. Footer
/*-------------------------------------------------*/
/* 1. Global Styles*/
/*-------------------------------------------------*/

/*---For the padding not to affect the width of the element-----*/
body * {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;


}

ul {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: row;
    list-style-type: none;

}

a:link {
    font-family: roboto, sans-serif;
    text-decoration: none;
    color: var(--blue);


}

li {
    font-family: roboto, sans-serif;
}

li:hover {
    text-decoration-line: line-through;
}

/* --------------- 2-Reusables ----------------------- */

:root {


    --purple: #5722CD; /**Chrysler Blue*/
    --blue: #4845E8; /**Majorelle Blue*/
    --pink: #ED4385; /**French Rose*/
    --black: #0C0C0C; /* - Zwart - Night (voor standaard tekst)-*/
    --white: #f1f5f3; /*-- Magnolia (voor de grote zwevende woorden, zoals "hello" en "services")--*/
    --silver: #7A7A7A; /*(voor de service-tegel tekst)*/
    --light-silver: #F3f0FF /*HELLO, SERVISEC (BONOS)*/

}

/*--------------------------------*/
/*         3. Typografie           */
/*--------------------------------*/

h1 {
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    color: var(--white);
    text-align: center;
    font-family: Merriweather, sans-serif;
}

h2 {
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    font-family: Merriweather, sans-serif;
}

h3 {

    font-weight: 700;
    padding: 1px;
    font-size: 18px;
    font-family: Merriweather, sans-serif;
}

h4 {
    color: var(--white);
    font-weight: 200;
    padding: 3px;
    font-size: 20px;
    font-style: normal;
    font-family: Merriweather, sans-serif;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    font-family: Merriweather, sans-serif;
}

h6 {
    font-weight: 100;
    font-style: normal;
    font-size: 12px;
    color: var(--silver);
    font-family: Merriweather, sans-serif;


}

p {
    color: var(--black);
    font-weight: 100;
    font-size: 10px;
    font-family: roboto, sans-serif;

}

a {
    color: var(--blue);
    font-weight: 300;
    font-size: 10px;
    font-family: roboto, sans-serif;

}


/*------------------ 4. HEADER ------------------------*/
/* Add a black background color to the top navigation */
/*-----------------------------------------------------*/
#header {
    background: var(--black) var(--blue) var(--purple);
    background: linear-gradient(120deg, var(--black) 0%, var(--blue) 0%, var(--purple) 80%);

}

.outer-nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.inner-nav {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 56%;
}

.nav-list {
    justify-content: end;
    gap: 30px;
}

.nav-list a {
    color: white;
}

/*------------------------------------*/
/*  TRIANGEL                  HEADER */
/*----------------------------------*/
.triangle_up {

    display: block;
    height: 0;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 40px 0 0 100vw;
    border-color: var(--purple) transparent var(--blue) transparent;
    border-image: linear-gradient(120deg, var(--blue) 0% var(--purple) 80%);

}


.triangle_down {

    display: block;
    height: 0;
    width: 0;
    position: relative;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 40px 0 0 100vw;
    border-color: var(--white) transparent transparent var(--blue);
    border-image: linear-gradient(120deg, var(--blue) 0% var(--purple) 80%);
}


.inner-content-container h1 {
    display: flex;
    text-align: center;
    justify-self: center;
    padding: 140px;


}

.inner-content-container h2 {
    display: flex;
    justify-content: center;
    flex-basis: 100px;
    align-self: center;
    color: #f3f2f8;

}

.outer-content-container {
    display: flex;
    justify-content: center;
    align-self: center;
    color: var(--white);
    width: 100%;

}

.inner-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: var(--white);
    margin: auto;
    width: 100%;

}

/*--------------------------------*/
/*              SQUIGGLE      */
/*--------------------------------*/
.squiggle_line_stripe {
    display: flex;
    flex-basis: auto;
    position: relative;
    align-self: center;
    width: 100px;
    height: 100px;
    content: url("../assets/squiggle_line_stripe.svg");
    justify-content: end;
    margin-block-end: 10px;
    margin-block-start: 20px;
    top: -10px; /*it push it down*/
}

.squiggle_line_stripe:hover {
    display: flex;
    position: relative;
    flex-basis: auto;
    align-self: center;
    width: 100px;
    height: 100px;
    content: url("../assets/noise-texture.png");
    justify-content: end;
    margin-block-end: 10px;
    margin-block-start: 20px;
    top: -10px;

}

/*-----------------------------------------------*/
/*              5. MAIN                           */
/*-----------------------------------------------*/


/*-----------------------------------------------*/
/*              5.1 INTRO                          */
/*-----------------------------------------------*/


.intro {
    display: flex;
    background-color: var(--white);
    padding: 4rem;


}

.outer-content-intro {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-flow: column;
    background-color: var(--white);
    color: var(--purple);
    height: 60vh;
    width: 100%;

    align-self: center;
    justify-content: center;


}

.inner-content-intro {
    color: var(--purple);
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    padding-bottom: 40vh;
    flex-basis: auto;
    align-self: center;
    width: 420px;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 1;


}

.intro .item {
    display: flex;


}

.item-1 {

    display: flex;


}

.item-2 {

    display: flex;
    flex-basis: auto;
    text-align: center;

}

.item-3 {
    display: flex;
    flex-basis: auto;
    text-align: center;

}

.item4 {
    display: flex;
    flex-basis: auto;

}

/*----------------------------------------*/
/* 5.2  WORK    3 COLUMN   WITH 2 ROWS   */
/*---------------------------------------*/

.outer-article:nth-child(odd) .inner-article {
    flex-direction: row-reverse;
}

.outer-article {
    display: flex;
    align-content: center;
    flex-direction: row;

}

.inner-article {
    display: flex;
    gap: 40px 40px;
    flex-wrap: revert;
    flex-grow: 1;
    flex-shrink: 0;
}

#work {
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-content: baseline;
    row-gap: 24px; /*tussen de column*/
}

.img-work {
    display: flex;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 0;
}

.work_text_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-left: 40px;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.squi-line {
    color: var(--purple);
    background-color: var(--white);
}

#work img {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.image-wrapper {
    display: flex;
    height: 600px;
    flex-grow: 1;
    flex-shrink: 0;
}

#work h5 {
    font-family: Roboto, sans-serif;
    width: 200px;
}

.view-project {
    text-transform: uppercase;
}

#work a {
    font-size: 14px;
    max-font-size: 14px;
    min-font-size: 6px;

}

#work a:hover {
    font-size: 14px;
    max-font-size: 14px;
    min-font-size: 6px;
    text-decoration-line: line-through;
    text-underline-position: right;
}


/*-----------------------------------------------------*/
/*       5.5    6 FLEX BOXS WRAP ICON TITLE AND TEXT   */
/*-----------------------------------------------------*/

/*-----------------------------------------------------*/
/*           SERVICES WRAPPER                           */
/*-----------------------------------------------------*/
.services_wrapper {

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    justify-items: auto;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, .1);
    color: var(--purple);
    text-align: left;
    align-items: flex-start;
    align-content: flex-start;
}

/*-----------------------------------------------------*/
/*                      ICONS                          */
/*-----------------------------------------------------*/
.icon-text {
    display: flex;
    width: 60px;
    height: 60px;
    color: var(--purple);
}

/*-----------------------------------------------------*/
/*                WAT VAN SERVICES                               */
/*-----------------------------------------------------*/

.web_design {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

.web_development {

    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;

}

.user_experience {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

.logo_design {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;

}

.seo {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}

.copy_writing {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 2rem;
    flex-basis: 22%;
    height: 18rem;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 1;
}


/*--------------------------------*/
/*        5.4 Contact-Form        */
/*--------------------------------*/


.outer-cc-together {
    display: flex;
    flex-direction: column;
    /*for wierd browsers with out gradient*/

    /* ------4 the rest of the browsers-------------*/
    background: linear-gradient(-30deg, var(--purple) 0%, var(--blue) 40%);
    padding: 4rem;
}


.inner-cc-together {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-content: center;
}

h1 {
    align-self: center;
    color: var(--white);
    display: flex;
    flex-direction: column;

}

h4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

}

form {
    width: 100%;
    display: flex;
    font-weight: 400;
    color: var(--white);
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 24px;
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;

}


label {
    margin-top: 18px;
    font-family: Roboto, sans-serif;

}

input, textarea {
    padding: 16px;
    border-radius: 10px;

}


.button-send {
    background-color: var(--pink);
    font-weight: 200;
    color: var(--white);
    width: 160px;
    height: 48px;
    margin: 18px;
    border-radius: 24px;
    border-color: #ED4385;
    border: 0;
    align-self: center;


}

.button-send:hover {
    font-weight: 200;
    width: 160px;
    height: 46px;
    margin: 18px;
    border-radius: 24px;
    align-self: center;
    background-color: var(--white);
    color: var(--black);
    text-decoration-color: var(--black);
}


/*--------------------------------*/
/*          6. Footer            */
/*--------------------------------*/

.outer-cc-footer {
    display: flex;
    width: 100%;

}

.inner-cc-footer {
    display: flex;
    justify-content: center;

    color: var(--white);
    background-color: var(--black);
    font-style: normal;
}

/*--------------------------------*/

/*     That's All Folks!         */
/*--------------------------------*/

/**
NOTE DIV CLASS ID
 */

/**
# = id
<div id="hello">
#hello {
}
. = class
<div class="hello">
.hello {
}
nothing = element
<div>
div {
}
combine:
div#hello.hello {
}
 */




